{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block nav-global %}
    &nbsp;
    <a target="_blank" href="#" id="grafana"><img height="45" width="45" src="{% static "grafana.png" %}" alt="Open grafana"/></a>
    &nbsp;
    <a target="_blank" href="#" id="prometheus"><img height="45" width="45" src="{% static "prometheus.png" %}" alt="Open prometheus"/></a>
    &nbsp;
    <a target="_blank" href="#" id="rabbitmq"><img height="45" width="45" src="{% static "rabbitmq.png" %}" alt="Open rabbitmq"/></a>
    &nbsp;
    <a target="_blank" href="#" id="consul"><img height="45" width="45" src="{% static "consul.png" %}" alt="Open consul"/></a>
    <script>
        var host = location.hostname;
        document.getElementById("grafana").href= "http://" + host + ":3000/";
        document.getElementById("prometheus").href= "http://" + host + ":9090/";
        document.getElementById("rabbitmq").href= "http://" + host + ":8100/";
        document.getElementById("consul").href= "http://" + host + ":8500/";
    </script>
{% endblock %}

