{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content %}
    <fieldset class="module">
        <h2>Import from Beer Smith</h2>
        <div class='submit-row'>
            <form action="/brew/import_recipe/" method="post" enctype="multipart/form-data" role="form">
                {% csrf_token %}
                <input style="text-align:center" type="file" name="file" class="form-control"/>
                <input type="submit" value="Import" class="form-control">
            </form>
        </div>
    </fieldset>

    {{ block.super }}
{% endblock %}