{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}

    {% if original %}
        <fieldset class="module">
            <h2>Actions</h2>
            <div class='submit-row'>
                {% if original.is_valid == 1 and original.worker != None and original.worker.is_registered %}
                    {% if original.is_finished == 0 %}
                        {% if original.has_started == 0 %}
                            <p class="deletelink-box">
                                <a href="{% url 'admin:schedule_func' original.pk 'start' %}"
                                   class="deletelink">Start</a>
                            </p>
                        {% else %}
                            {% if original.is_paused == 1 %}
                                <p class="deletelink-box">
                                    <a href="{% url 'admin:schedule_func' original.pk 'resume' %}"
                                       class="deletelink">Resume</a>
                                </p>
                            {% else %}
                                <p class="deletelink-box">
                                    <a href="{% url 'admin:schedule_func' original.pk 'pause' %}"
                                       class="deletelink">Pause</a>
                                </p>
                            {% endif %}
                            <p class="deletelink-box">
                                <a href="{% url 'admin:schedule_func' original.pk 'stop' %}" class="deletelink">Stop</a>
                            </p>
                        {% endif %}
                    {% else %}
                        <p class="deletelink-box">
                            <a href="{% url 'admin:schedule_func' original.pk 'restart' %}"
                               class="deletelink">Restart</a>
                        </p>
                    {% endif %}
                {% endif %}
                <form action="{% url 'admin:schedule_func' original.pk 'reset_schedule' %}">
                    <input value="Reset Schedule" class="default" type="submit">
                </form>
            </div>
        </fieldset>

    {% endif %}

    {{ block.super }}
{% endblock %}

